<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCM7uVWdcC9WoZ1eIZMQZ4W17x8WsSCQ4M</string>
	<key>GCM_SENDER_ID</key>
	<string>1054463304738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gr.techzombie.cardtrick.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cardtrick-acea0</string>
	<key>STORAGE_BUCKET</key>
	<string>cardtrick-acea0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054463304738:ios:ea4a82434dafbc3f84567b</string>
</dict>
</plist>